.container {
    margin: 0 auto;
    text-align: center;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 200px;
}

.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    align-items: flex-start;
}

.buttons button {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    font-size: 29px;
    padding: 19px;
    margin-left: 3px;
    margin-top: 3px;
}

.btnSize {
    width: 63px;
}

.field {
    border: 1px solid #9e9e9e;
    height: 40px;
    width: 193px;
    margin-left: 4px;
    padding-top: 27px;;
}

.granted {
    color: green;
}

.denied {
    color: red;
}
